.categories-page {
  padding: 50px 8%;
  min-height: 80vh;
  background: #f4f4f4;
}

.categories-page h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 10px;
}

.categories-page p {
  text-align: center;
  color: #777;
  margin-bottom: 40px;
}

.main-category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.main-category-card {
  background: white;
  padding: 35px 20px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  color: #222;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.main-category-card:hover {
  transform: translateY(-7px);
}

.main-category-card div {
  font-size: 45px;
}

.main-category-card h2 {
  margin: 15px 0 8px;
}

.main-category-card span {
  color: #777;
}